<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.audiodsp.engine">

    <!-- Audio effects / control de audio -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Notificación del servicio -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Servicio en primer plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AudioDSP Engine Pro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioDSP">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AudioDSP">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".audio.service.AudioDspService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            tools:targetApi="34" />

    </application>

</manifest>
